.Rproj.user
.Rhistory
.RData
.Ruserdata
EPPN raw data complete 220419 corr.csv
EPPN raw data complete 220419_corr genotype codes.csv
EPPN raw data complete 220419 - Kopie.csv
Comparison 2+X+4_plant height_220715_for publication.R
